#header{
  background-color: #000C1C;
}

#header-flex-container{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

#logo{
  color: white;
  position: absolute;
  width: 10%;
  height: 100%;
  margin-left: 5px;
}

#logo-img{
  max-height: 100%;
  margin: auto;
}

.nav {
  height: 100%;
}

.nav-link{
  color: white;
  height: 100%;
  font-size: 18px;
  padding-top: 10px;
  margin-right: 10px;
  background-clip: padding-box;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.nav-link:focus{
  outline: none;
}

.navbar{
  padding: 0;
}

/* hover actions */

.nav-link:hover{
  color: black;
  background-color: white;
}