#scoreboard {
  margin-top: 10px;
  height: 100%;
}

.scoreboard-container {
  max-width: 90%;
  margin: auto;
  border-radius: 5px;
  border: 1px solid lightgray;
}

#team-info-container {
  display: flex;
  max-width: 90%;
  margin: auto;
  margin-bottom: 10px;
  flex-flow: row wrap;
}

.team-city {
  font-size: 20px;
}

.team-name {
  font-size: 28px;
}

.game-info {
  height: 100%;
}

.box-info-col {
  text-align: center;
  padding: 0;
}

.header .score-cell{
  color: white;
  background-color: #141E2F;
}

.away {
  color: white;
  background-color: #141E2F;
}

.home {
  color: white;
  background-color: red;
}

.teams {
  border-right: 1px solid lightgray;
}

#headers {
  border-bottom: 1px solid lightgray;
}

#headers .box-info-col:last-child {
  border-right: none;
}
#headers .score-cell:last-child {
  border-right: none;
}

#headers .box-info-col {
  border-right: 1px solid lightgray;
}